.CardCompromissos{
    border: 3px groove rgb(118, 200, 147);
    border-radius: 8px;
    margin: 3px 1px 10px 1px;
    display: flex;
}
.CardCompromissos .DtCard{
    display: block;
    background-color: #bfdbf7;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 30%;
    border: 3px groove rgb(118, 200, 147);
    border-radius: 4px;
}

.CardCompromissos .ContainerDados{
    background-color: cornflowerblue;
    border: 3px groove rgb(118, 200, 147);
    border-radius: 4px;
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.CardCompromissos .ContainerDados .Header{
    background-color: #bfdbf7;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 20px;
}

.CardCompromissos .ContainerDados .Dados-config{
    background-color: #e1e5f2;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    display: inline;
}

.CardCompromissos .ContainerDados .Dados-evento{
    background-color: #e1e5f2;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

.CardCompromissos.importante{
    border: 3px groove rgb(202, 195, 88);
}

.CardCompromissos.importante .ContainerDados{
    border: 3px groove rgb(202, 195, 88);  
}
.CardCompromissos.importante .ContainerDados .Dados-evento{
    background-color: #EF7674;
    
}
.CardCompromissos.importante .ContainerDados .Dados-config{
    background-color: #dd7574;
}

.CardCompromissos.importante .ContainerDados .Header{
    background-color: #EC5766;
}

.CardCompromissos.importante .DtCard{
    background-color: #EC5766;
    border: 3px groove rgb(202, 195, 88);
}